{{ define "main" }}
    <div class="middle-content">
        <h1>Gallery</h1>
        <p>Pictures I've taken! Hint: click on images to open them at a higher resolution</p>
    </div>
    <div class="big-gallery">
    {{ with .Params.Images }}
        {{ range . }}
            <div class="polaroid">
                <img src="{{ .thumbnail }}" onclick="openModal('{{ .src }}');"></a>
                <p>{{ .date }}</p>
                <p>{{ .desc }}</p>
            </div>
        {{ end }}
        </div>
        
        {{ partial "back_to_top.html" }}
    {{ end }}
    <div id="modal">
        <div id="modal-content">
            <span id="close" aria-label="Close modal" onclick="closeModal()">&times;</span>
            <img id="modal-image" src="">
        </div>
    </div>
{{ end }}