{{ define "main" }}
<div class="basic middle-content transbox">
    <div class="trans-box">
        <h1>Bottlecaps</h1>
        This is my bottlecap collection! Most of these I have collected from the ground throughout the past few years, but some were given to me by people I knew or from drinks I've had!
        <!-- Sort the collection by color, drink name, CCI Id, or country of origin. -->
        <h3>Cap count: {{ .Params.count }}</h3>
        <b>TODO:</b> add sorting and filtering

        <div class="gallery">
        {{ with .Params.Images }}
            {{ range . }}
                {{ if .url }}
                    <a href="{{ .url }}" target="_blank"><img src="{{ .src }}"></a>
                {{ else }}
                    <a><img src="{{ .src }}"></a>
                {{ end }}
            {{ end }}
        {{ end }}
        </div>
    </div>
</div>
{{ end }}